.about-project__front-end{
  margin: 0;
  margin-top: 14px;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #a0a0a0;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .about-project__front-end {
    margin-top: 11px;
    font-size: 11px;
    line-height: 12.74px;
  }
}
