.techs__stack{
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .techs__stack{
    display: grid;
    grid-template-columns: 84px 84px;
  }
}